@charset "utf-8";


.wrap {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/*HEADER_START*/
#header {
    width: 100%;
    height: 680px;
    display: flex;
}
.header_left  {
    width: 50%;
    height: 680px;
    background-color: #271F50;
    position: relative;
}
.header_left dl  {
    width: 640px;
    height: auto;
    text-align: right;
    position: absolute;
    top: 50%;right: 0;
    transform: translateY(-50%);
    margin-top: 40px;
    
}
.header_left dt  {
    width: 450px;
    display: inline-block;
    color: #f1f1f1;
    font-size: 100px;
    font-weight: 600;
    font-family: 'GmarketSansBold', 'sans-serif';
    
    word-break: keep-all;
    line-height: 80px;
    letter-spacing: -2px;
    
    margin-bottom: 30px;
    
}
.header_left dd  {
    color: #f1f1f1;
    margin-bottom: 20px;
    font-weight: 100;
    width: 600px;
    word-break: keep-all;
    margin-right: 5px;
    display: inline-block;
    font-size: 18px;
    
}



.header_right  {
    width: 50%;
    height: 680px;
    padding-left: 40px;
}
.header_right ul {
    padding: 0;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header_right li {
    max-width: 580px;
}

.name {
    display: flex;
    align-items: flex-end;
}
.name div {
    width: 150px;
    height: 150px;
    overflow: hidden;
    
}
.name div img {
    width: 100%;
    height: auto;
}
.name dl {
    margin-left: 10px;
}
.name dt {
    font-size: 18px;
}
.name dt span {
    font-size: 15px;
    color: #999;
    margin-left: 5px;
}
.name dd {
    margin: 3px 0;
}



.shcool {
    margin-top: 20px;
}
.shcool dt {
    font-size: 20px;
}
.shcool dt i {
    font-size: 22px;
}
.shcool dd span {
    color: #999;
    font-size: 14px;
    width: 150px;
    text-align: center;
    display: inline-block;
}


.bz {
    margin-top: 20px;
}
.bz dt {
    font-size: 20px;
}
.bz dt i {
    font-size: 22px;
}
.bz dd {
    margin-bottom: 5px;
    line-height: 20px;
}
.bz dd span {
    font-size: 16px;
    color: #999;
    display: inline-block
}


.skill {
    margin-top: 20px;
}
.skill > div {
    line-height: 40px;
}
.skill > div strong {}
.skill > div strong i {
    font-size: 40px;
    color: #555;
}
.skill > div div {
    display: inline-block;
}
.skill > div div span {
    width: 28px;
    height: 28px;
    background-color: #271F50;
    display: inline-block;
    border-radius: 3px;
}

.skill .box_off {
     background-color:#C8C6D2;
}

/*HEADER_END*/
/*MAIN_START*/

.main {
    width: 100%;
    height: 100%;
}
.main_project {
    margin: 250px 0
}
.project_title {
    position: relative;
    height: 200px;
    margin-bottom: 100px;
}
.project_title h2 {
    color: #fdfdfd;
    width: 50%;
    height: 200px;
    background-color: #271F50;
    position: absolute;
    top: 0;right: 0;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    box-sizing: border-box;
}
.project_title h2 span {
    font-family: 'GmarketSansBold', 'sans-serif';
    font-size: 45px;
}


.cinema_mm {
    width: 1280px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.cinema_mm .img {
    width: 700px;
    height: 700px;
    overflow: hidden;
    display: inline-block;
}
.cinema_mm .img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.cinema_mm .text {
    width: 580px;
    padding-left: 20px;
    box-sizing: border-box;
}
.cinema_mm .text dt {
    font-size: 30px;
}
.cinema_mm .text dd span {
    font-weight: bold;
}
.cinema_mm p {
    word-break: keep-all;
    width: 500px;
    font-size: 18px;
}
.cinema_mm a {
    width: 200px;
    line-height: 40px;
    border: 1px solid#271F50;
    background-color: #271F50;
    color: #ddd;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    font-size: 18px;
    margin: 20px 0;
    transition: 0.5s;
}
.cinema_mm a:hover {
    color: #271F50;
    background-color: #f1f1f1;
}
.cinema_mm .s_img {
    margin-top: 30px;
}
.cinema_mm .s_img div {
    width: 140px;
    height: 105px;
    overflow: hidden;
    display: inline-block;
    
}
.cinema_mm .s_img div img { 
    object-fit: cover;
    width: 100%;height: 100%;
}






/*스터디*/

.study .project_title {
    height: 100px;
}
.study .project_title h2 {
    height: 100px;
}

.study_con {
    width: 1280px;
    height: 100%;
    margin: 0 auto 100px auto;
    display: flex;
     align-items: center;
}
.study_con .img {
    width: 720px;
    height: 405px;
    overflow: hidden;
}
.study_con .img img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.study_con .text {
    width: 580px;
    padding-left: 20px;
    box-sizing: border-box;
}
.study_con .text dl {}
.study_con .text dt {font-size: 30px;}
.study_con .text dd {}

.study_con p {
    word-break: keep-all;
    width: 500px;
    font-size: 18px;}
.study_con a {
    width: 200px;
    line-height: 40px;
    border: 1px solid#271F50;
    background-color: #271F50;
    color: #ddd;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    font-size: 18px;
    margin: 20px 0;
    transition: 0.5s;
}
.study_con a:hover {
    color: #271F50;
    background-color: #f1f1f1;
}

.naver .text dd:nth-of-type(5) {
    font-weight: 600;
    font-size: 17px;
}
/*스터디*/

/*MAIN_END*/
/*FOOTER START*/
#footer {
    width: 100%;
    height: 350px;
    background-color: #271F50;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 300px;
    
}
#footer strong {
    color: #ddd;
    font-size: 18px;
}
#footer p {
    color: #eee;
    font-size: 18px;
    margin: 10px 0;
}
#footer p:nth-of-type(2) {
    margin: 0;
}
#footer p a {
   color: #eee;
    font-size: 18px; 
}
/*FOOTER END*/























